<div id="single_flow" class="primary_background">
<%= provide :heading, "Update your profile" %>
<%= provide :title, "Edit Profile" %>
<%= provide :button_label, "Save changes" %>

<%= render 'form' %>

<%= link_to 'Back', @user %>
</div>
