<%= provide :title, "Sign Up" %>
<%= provide :heading, "Sign up" %>
<%= provide :button_label, "Create User" %>
<div id="single_flow" class="primary_background">
<%= render 'form' %>

<%= link_to 'Back', root_path %>
</div>
