<%= form_for(@lot) do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= 
    #f.text_field :description 
    %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
