<h1>Analyze</h1>
<p> Showing 10 equities at a time</p>
<%= paginate @symbol_page %>
<% @results.each do |result| %>
<h2><%= result[:symbol] %>  $<%= "%.2f" % [result[:currentPrice].round(2)] %> <%= render inline: dollar_str(result[:change_amt]) %></h2>
<%
  # Construct a table struct
  table = {}
  table[:headings] = []
  table[:rows] = []
  table[:class] = "summary_table"
  ["Date", "Action", "Price", "Quantity", "Lot", "Fees", "Total Change"].each do |heading|
    header = {}
    header[:content] = heading
    table[:headings].append(header)
  end

  result[:lots].each do |lot|
    lot.each do |tran|
      row = []
      [link_to(tran.date, edit_transaction_path(tran)), tran.action ? tran.action.name.capitalize : "",
        dollar_str(tran.price), tran.quantity, "Lot", dollar_str(tran.fees),  dollar_str(tran.amount)].each do |col|
        column = {}
        column[:content] = col
        row.append(column)
      end

      table[:rows].append(row)
    end
  end
%>

<%= table_helper(table) %>
<%= table_helper(
      {headings: [{content: "Total Realized"}, {content: "Total Unrealized"}, {content: "Total Cost"}, {content: "Net Value"}],
       class: "summary_table",
       rows: [
         [{content: dollar_str(result[:summary][:totalRealizedDollar])}, {content: dollar_str(result[:summary][:totalUnrealizedDollar])},
           {content: dollar_str(result[:summary][:totalCost])}, {content: dollar_str(result[:summary][:netValue])}]
       ]
      }
    ) %>
<% end %>

<%= paginate @symbol_page %>
