<h1>Listing transactions</h1>

<% if @transactions != nil %>
<table class="summary_table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>Symbol</th>
      <th>Description</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Fees</th>
      <th>user_id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% row = 0 %>
    <% @transactions.each do |transaction| %>
      <% if row % 2 == 1%>
      <tr class="alternate_row">
      <% else %>
      <tr>
      <%end%>
        <td><%= transaction.date %></td>
        <td>
        <% if transaction.action %>
        <%= transaction.action.name.capitalize %>
        <%end%>
        </td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.symbol %></td>
        <td><%= transaction.description %></td>
        <td><%= render inline: dollar_str(transaction.price)%></td>
        <td><%= render inline: dollar_str(transaction.amount)%></td>
        <td><%= render inline: dollar_str(transaction.fees) %></td>
        <td><%= transaction.user_id %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% row = row + 1 %>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Import Data', import_transactions_path %>
<%= link_to 'Delete All Transactions', delete_all_transactions_path, data: { confirm: 'Are you sure?  This will clear all transaction data.' } %>
