<h1>Listing transactions</h1>

<% if @transactions != nil %>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>Symbol</th>
      <th>Description</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Fees</th>
      <th>user_id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.action %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.symbol %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.price %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.fees %></td>
        <td><%= transaction.user_id %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Import Data', import_transactions_path %>
