<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li>|</li>
			<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
			<li><%= link_to "Profile", current_user %></li>
			<% else %>
      <li><%= link_to "Sign In", signin_path %></li>
			<% end %>
    </ul>
  </div>

	<div id="content">
	<h1><%= yield(:heading) %></h1>

  <% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <h2 class="<%= key %>"><%= key.to_s.capitalize %></h2>
			<p><%= value %></p>
    </div>
  <% end %>
